
group_project {
    display: block;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

member {
    display: block;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}


name {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}


role {
    display: block;
    font-size: 1.2em;
    color: #007bff;
    font-weight: bold;
    margin-bottom: 5px;
}

specialization {
    display: block;
    font-style: italic;
    color: #666;
    margin-bottom: 5px;
}




email {
    display: block;
    color: #d9534f;
    font-weight: bold;
}
contact {
    display: block;
    color: #5bc0de;
}

#leader {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}
