*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.phone{
    height: 800px;
    width: 400px;
    background-color: violet;
    margin: 80px auto;
    border-radius: 10px 10px 10px 10px;
    border: 4px solid black;

}
.camera{
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 840px;
    margin-left: 1000px;
} 
.camera1{
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 840px;
    margin-left: 1000px;
}
.camera2{
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 840px;
    margin-left: 1000px;
}
#torch{
    width: 50px;
    height: 50px;
    background-color:rgba(255, 255, 255, 0.5);
    border: 0.5px solid black;
    border-radius: 50%;
    position: relative;
    bottom: 1025px;
    margin-left:1080px;

}
.footer {
    position: absolute;
    bottom: 330px; /* Adjust this as needed */
    width: 100%;
    text-align: center;
}

.footer p {
    font-size: 24px; /* Increase text size */
    color: black; /* Samsung's logo color */
    font-weight: bold;
    letter-spacing: 2px;
}
.footer p:hover {
    color: whitesmoke;
    transition-duration: 1s;
}